<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>AirPort <b>Details</b></h2></div>
                   
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Capacity</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(airport) { %>
                        <tr>
                            <td><%= airport.code %></td>
                            <td><%= airport.park_capacity %></td>
                            <td><%= airport.latitude %></td>
                            <td><%= airport.longitude %></td>
                            <td><%= airport.country %></td>
                            <td><%= airport.city %></td>
                            <td><%= airport.description %></td>
                        </tr>
                        <% }); %>
                   
                </tbody>
            </table>
        </div>
    </div>
  </div>     