<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Flights <b>Details</b></h2></div>
                   </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Flight ID</th>
                        <th>Departure Time</th>
                        <th>From</th>
                        <th>Arrival Time</th>
                        <th>To</th>
                        <th>Plane</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Length</th>

                    </tr>
                </thead> 
                <tbody>
                    <% data.forEach(function(flight) { %>
                        <tr>
                            <td><%= flight.f_id %></td>
                            <td><%= flight.departure_time %></td>
                            <td><%= flight.dept_a_id %></td>
                            <td><%= flight.arrival_time %></td>
                            <td><%= flight.arrive_a_id %></td>
                            <td><%= flight.pname %></td>
                            <td><%= flight.pname %></td>
                            <td><%= flight.description %></td>
                            <td><%= flight.length %></td>
                        </tr>
                        <% }); %>
                   
                </tbody>
            </table>
        </div>
    </div>
  </div>     